<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <%-include('public/header.ejs')%>
  <h1>ejs循环<%=userinfo%></h1>
  <ul>
    <%for(let i=0;i<list.length;i++){%>
      <li><%=list[i]%></li>
    <%}%>
  </ul>
  <br>
  <%=content%>
  <br>
  <%-content%>

  <%if(num>24){%>
    大于24
  <%}else{%>
    小于等于24
  <%}%>
</body>
</html>